:root {
    --primary-color: lightblue;
    --secondary-color: #4361c4;
    --accent1-color: #8bbf73;
    --accent2-color: beige;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 0px;
    padding: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 25px;
    text-align: center;
    opacity: .5;
    background-color: var(--accent1-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 1px;
    text-align: center;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 50px;
    height: auto;
    margin: 10px;
    background-color: var(--secondary-color);
}