:root {
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --accent1-color: #8bbf73;
    --accent2-color: beige;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    /* positioning */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    /* styling */
    background-color: var(--secondary-color);
    color: black;
}

.site-header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.site-header nav a {
    text-decoration: none;
    font-weight: 600;
}

.site-header img {
    width: 50px;
    height: auto;
}

main,
footer {
    width: 840px;
    margin: 0 auto;
    font-family: var(--body-font);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 0px;
    padding: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem 0 0 0;
    border: solid black;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 25px;
    text-align: center;
    opacity: .5;
    background-color: var(--secondary-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 300px;
    width: auto;
    padding: 10px;
    text-align: justify;
    background-color: var(--accent2-color);
    color: black;
    margin: 10px;
    border: solid black;
}

.hero article img {
    float: right;
    width: 50px;
    height: auto;
    margin: 10px;
    background-color: var(--secondary-color);
}

.history {
    padding: 5px;
    border: solid black;
    margin: 2rem 0 2rem 0;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.history-container p {
    flex: 1;
    text-align: justify;
}

.history-container img {
    width: 200px;
    height: auto;
}

.adventure {
    border: solid black;
    margin: 1rem 0 1rem 0;
}

.adventure-pics {
    display: grid;
    max-width: 840px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.adventure img {
    max-width: 200px;
    height: auto;
}

figcaption {
    text-align: center;

}

footer {
    display: flex;
    align-items: center;
    background-color: var(--accent1-color);
}

footer p {
    flex: 1;
    text-align: center;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
}

.info {
    text-align: center;
}

.map {
    max-width: 200px;
}

.form {}