:root {
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --accent1-color: #8bbf73;
    --accent2-color: beige;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    /* positioning */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    /* styling */
    background-color: var(--secondary-color);
    color: black;
}

.site-header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.site-header nav a {
    text-decoration: none;
    font-weight: 600;
    font-family: var(--body-font);
    color: var(--primary-color);
}

.site-header img {
    width: 50px;
    height: auto;
}

main {
    width: 840px;
    margin: 0 auto;
    font-family: var(--body-font);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 0px;
    padding: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem 0 0 0;
    border: solid black;
}

.hero h1 {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 25px;
    text-align: center;
    opacity: .5;
    background-color: var(--secondary-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 300px;
    width: auto;
    padding: 10px;
    text-align: justify;
    background-color: var(--accent2-color);
    color: black;
    margin: 10px;
    border: solid black;
}

.hero article img {
    float: right;
    width: 50px;
    height: auto;
    margin: 10px;
    background-color: var(--secondary-color);
}

.history {
    padding: 5px;
    border: solid black;
    margin: 2rem 0 2rem 0;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.history-container p {
    flex: 1;
    text-align: justify;
}

.history-container img {
    width: 200px;
    height: auto;
}

.adventure {
    border: solid black;
    margin: 1rem 0 1rem 0;
}

.adventure-pics {
    display: grid;
    max-width: 840px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.adventure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;

}

footer {
    display: flex;
    align-items: center;
    background-color: var(--accent1-color);
    width: 100%;
}

footer p {
    flex: 1;
    text-align: center;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
}

.info {
    text-align: center;
}

.map {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border: 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
    width: 840px;
}

.name-email {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .1rem;
    margin: .5rem 0;
}

.name-email label {
    text-align: center;
}

.name-email input {
    padding: 0.25rem 0.25rem;
}

.radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: .25rem 0;
}

.radio p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.message {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin: .25rem;
}

.message textarea {
    min-height: 75px;
    padding: 0.75rem;
    resize: vertical;
}

.checkbox {
    display: grid;
    grid-template-columns: .25fr 2fr;
    gap: .5rem;
    margin: .5rem 0;
}

.submit input {
    width: 100%;
    padding: .5rem;
}

.profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem;
    text-align: center;
    border: 2px black solid;
}

.profiles figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.profiles h2 {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin: .25rem;
}

.profiles img {
    width: 200px;
    height: auto;
}