body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;

}

.item1 {
    min-height: 300px;
    margin-left: 100px;
}

.item2 {
    min-height: 300px;
}

.item3 {
    min-height: 300px;
    margin-right: 100px;
}