nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    width: auto;
}

h1 {
    color: darkblue;
}

h2 {
    font-size: 1.9rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 500px;
}

aside {
    width: 500px;
    margin: 10px;
    border: 2px dotted black;
    padding: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dotted black;
    width: 550px;
    text-align: center;
}