* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    width: auto;
}

h1 {
    color: darkblue;
}

h2 {
    font-size: 1.9rem;
}

main img {
    width: 100px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 10px;
}

p {
    padding: 0px;
}

main {
    max-width: 500px;
    margin: 10px;
}

aside {
    width: 500px;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 180px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dotted black;
    width: auto;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: lightgray;
}